{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Investment helper</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
           Optimized stock selection
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="" class="btn btn-primary">BACK</a>
    </div>

  </div>
  <h2 class="font-weight-bold"> Stock Market Prediction and Analysis</h2>

  <form action="result">
    {% csrf_token %}
    {% include 'partials/_messages.html' %}
    <div class="form-group">
        <input 
          type="text"
          name="stockname"
          placeholder="Enter stock name"
          required
        />
    </div>
    <input type="Submit" value="Predict" class="btn btn-primary submit-btn">
</form>

 </div>
</div>



{% endblock content %}