{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Trouble Logging In?</h2>
                    <p class="text-center text-muted">
                        Enter your email, and we'll send you a link to get back into your account.
                    </p>
                    <form autocomplete="off" action="{% url 'reset-password' %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_alerts.html' %}
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email" value="{{ data.email }}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send Link</button>
                    </form>
                    <hr class="my-4">
                    <div class="text-center">
                        <a href="{% url 'register' %}" class="btn btn-link">Create New Account</a>
                        <a href="{% url 'login' %}" class="btn btn-link">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}