
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'Budget Planner'%}">Budget Planner</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            AI budget
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'Budget Planner'%}" class="btn btn-primary">BACK</a>
    </div>
  <h1>Automated budget using machine learning
  </div>
  <p>Note: AI Budget will generate a weekly budget plan on the basis of your expences and will give you 
    total budget as well as budget for each category for the next week.
    And for this to work accurately you need to atleast add expences of last 30 days.
    You can generate a budget plan for a month as well as for a week.
  </p>
  <div class="col-md-6 mt-3">
    <form method="post" action="{% url 'ai_budget_result' %}">
      {% csrf_token %}
      <button type="submit" name="ai_budget_result">Analyse Expenses</button>
      <button type="submit" name="ai_weekly_result">Generate Weekly Budget</button>
      <button type="submit" name="ai_monthly_result">Generate Monthly Budget</button>
  </form>
  <a href="{% url 'saved_ai_weekly_result'%}" class="btn btn-primary">Current weekly budget</a>
  <a href="{% url 'saved_ai_monthly_result'%}" class="btn btn-primary">Current monthly budget</a>
  </div>

{% endblock content %}