{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'Budget Planner'%}">Budget Planner</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            AI budget
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'Budget Planner'%}" class="btn btn-primary">BACK</a>
    </div>
  <h1>Automated budget using machine learning
  </div>

{% endblock content %}
