{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="row text-center">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Budget Planner</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            My Budget
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="" class="btn btn-primary">BACK</a>
    </div>

    <div class="col-md-12" style="margin-top: 100px;"> 
      <h1 class="mb-4">Select the type of budget</h1>
    </div>

    <div class="col-md-6 mt-3">
      <a href="{% url 'ai_budget' %}" class="btn btn-primary btn-block">AI Budget</a>
    </div>
    
    <div class="col-md-6 mt-3">
      <a href="{% url 'budget' %}" class="btn btn-primary btn-block">Manual Budget</a>
    </div>
  </div>
</div>
{% endblock content %}
